{% extends "base.html" %}

{% block page_content %}
    <div>
        <h3>Register new user</h3>
    </div>
    <div id="main-content">
        <form method="post" action="/registration/">{% csrf_token %}
        <div>
            <div class="left-part">
                <label for="id_username">Username</label>
            </div>
            <div class="right-part">
                {{ form.username }}
            </div>
        </div>
        <div>
            <div class="left-part">
                <label for="id_email">E-mail</label>
            </div>
            <div class="right-part">
                {{ form.email }}
            </div>
        </div>
        <div>
            <div class="left-part">
                <label for="id_password">Password</label>
            </div>
            <div class="right-part">
                <input id="id_password" type="password" name="password" maxlength="128">
            </div>
        </div>
        <div id="submit-reg-form">
            <input type="submit" value="registration" class="btn"/>
        </div>
        </form>
    </div>
{% endblock %}